

@media (min-width: 320px) and (max-width: 480px) {
    #map{
        margin-right: 0.5rem !important;
    }
    /* .sidenav{
        display: none;
    } */
    .nav-a{
        
        padding-left: -5rem !important;
        gap: 0 !important;
    }
    .nav-a img{
        width: 8vw;
        margin-left: -0.5rem;
    }
  

}

@media (min-width: 481px) and (max-width: 768px) {
    #map{
        margin-right: 0.5rem !important;
    }
    .sidenav{
        display: none;
    }
    .nav-a{
        
        padding-left: -5rem !important;
        gap: 0 !important;
    }
    .nav-a img{
        width: 7vw;
        margin-left: -0.5rem;
    }
  

}

@media (min-width: 769px) and (max-width: 1024px) {
    #map{
        margin-right: 0.5rem !important;
        width: 50%;
    }
    .mobile{
        display: none;
    }
    .nav-a{
        
        padding-left: -5rem !important;
        gap: 0 !important;
    }
    .nav-a img{
        width: 4vw;
        margin-left: -0.5rem;
    }
  

}
@media (min-width: 1025px) and (max-width: 1200px) {
    #map{
        margin-right: 0.5rem !important;
        width: 50%;
    }
    .mobile{
        display: none;
    }
    .nav-a{
        
        padding-left: -5rem !important;
        gap: 0 !important;
    }
    .nav-a img{
        width: 3vw;
        margin-left: -0.5rem;
    }
  

}




/* add */

@media (min-width: 320px) and (max-width: 480px){
  
    .image{
        width: 80%;
    }
    .add-receivers form{
        width: 80%;
    }
    .add-receivers{
        width: 100%;
    }
  
    #map{
        width: 80%;
    }

}


@media (min-width: 481px) and (max-width: 768px){
    .cont-add{
        display: flex;
        flex-direction: column-reverse;
        gap: 2rem;
        justify-content: center;
        align-items: center;
        position: relative;
        top: 8rem;

    }
    .image{
        width: 80%;
        height: 55vh !important;
    }
    .add-receivers form{
        width: 80%;
    }
    .add-receivers{
        width: 100%;
    }
    .guide{
        width: 30vw;
    }
    .add-form{
        width: 80%;
    }
    #map{
        width: 90% !important;
    }

}


@media (min-width: 769px) and (max-width: 1024px){
    .cont-add{
        display: flex;
        flex-direction: column-reverse;
        
        gap: 2rem;
        justify-content: center;
        align-items: center;
        position: relative;
        top: 8rem;

    }
    .image{
        width: 40%;
        height: 50vh !important;
    }
    .guide{
        width: 25vw;
    }
    .add-receivers form{
        width: 50%;
    }
    .add-receivers{
        width: 100%;
    }
    input[type="text"],[type="number"], .add-receivers form button{
        
        height: 5vh;
       
    
      }
      .add-form{
        width: 80%;
        height: 50vh;
    }
    #map{
        width: 90% !important;
        height: 30vh;
    }

}



@media (min-width: 1025px) and (max-width: 1200px){
    .cont-add{
           
        gap: 2rem;
        justify-content: center;
        align-items: center;
        position: relative;
        top: 5rem;
        height: auto;
      

    }
    .image{
        width: 30%;
        height: 50vh !important;
    }
    .image img{
        width: 30vw;
        /* height: 35vh */

    };
    .add-receivers form{
        width: 30%;
    }
    .add-receivers{
        width: 40%;
    }
    input[type="text"],[type="number"], .add-receivers form button{
        
        /* height: 4vh; */
       
    
      }

}

@media (min-width: 320px) and (max-width: 480px){
    
    .mobile-data{
        width: 100% !important;
        margin-left: 0 !important;
       
       
    }
    .table-data{
       
        display: none;
    }
    .get-all{
        gap: 0;
        outline: thin solid blue;
    }
    #allreceiversMobile{
       
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 3rem;
    
    }
    .mobo{
        box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
        width: 70%;
        height: 50vh;
        padding: 1rem;
        border-radius:10px ;
       
    }
    .data{
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        margin-bottom: 1rem;
        
    }
    /* .data{
        color: #0C883D;
    } */
    .data img{
        width: 8vw;
    }
    .head{
        font-size: 0.9rem;
        color: rgba(0, 0, 0, 0.651);
    }
    .span-data{
        color: rgba(0, 0, 0, 0.479) !important;
    }
    .span-data strong{
        color: red;
    }
    .head{
        display: flex;
        gap: 0.3rem;
        align-items: center;
    }
    .delete{
        border: 2px solid  rgba(255, 0, 0, 0.562);
    
        color: green;
        width: 25vw;
        height: 6vh;
        border-radius: 3px;
    }
    .del{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        position: relative;
        
    }

    .cont-add{
        flex-direction: column-reverse;
        margin-top: 2rem;
     
    }
    .guide{
        width: 50vw;
        height: 10vh;
    }
    .add-form{
        width: 80%;
        margin-bottom: 2rem;
       
    }
   
      



   


}
@media (min-width: 481px) and (max-width: 768px){
    
    .mobile-data{
        width: 100% !important;
        margin-left: 0 !important;
        display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       gap: 3rem;
       
    }
    .table-data{
        
        display: none;
    }
    .get-all{
        gap: 0;
        outline: thin solid blue;
    }
    .mobo{
        height: 40vh;
        box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
        padding: 2rem;
        border-radius:10px ;
    }
    .del{
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        top: 2rem;
    }
    .delete{
        width: 20vw;
    }
    .data{
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        margin-bottom: 1rem;
        
    }
    /* .data{
        color: #0C883D;
    } */
    .data img{
        width: 8vw;
    }
    .head{
        font-size: 0.9rem;
        color: rgba(0, 0, 0, 0.651);
    }
    .span-data{
        color: rgba(0, 0, 0, 0.479) !important;
    }
    .span-data strong{
        color: red;
    }
    
   


}

@media (min-width: 769px) and (max-width: 1024px){
    
    .mobile-data{

        display: none;
       
      
    }
  
    .get-all{
        gap: 0;
        outline: thin solid blue;
    }
  
      #allreceiversMobile{
        display: none;
    }
    .table-data{
        width: 90%;
    }
    .delete{
        width: 100%;
        height: 4vh;
    }
   


}

@media (min-width: 1025px) and (max-width: 1200px){
    
    .mobile-data{
        display: none;
    }
    .table-data{
      
        width: 90%;
       
    }
    .delete{
        width: 10vw;
        height: 4vh;
    }
    .cont-add{
        position: relative;
        top: 10rem;
    }
    .add-form{
        width: 60%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #map{
        width: 80%;
        height: 40vh !important;
   
        margin-top: -25rem !important;

    }
    .guide{
        width: 20vw;
        height: 5vh;
    }
    .cont-map{
        top: 0 !important;
   
    }
    input[type="text"],[type="number"], .add-receivers form button{
        
        height: 5vh !important;
    
    
      }
     #send{
          width:83%;
      }
      .test{
          height: 4vh !important;
         
      }

   
    
      #allreceiversMobile{
        display: none;
    }
   


}
@media (min-width: 1201px) {

    #allreceiversMobile{
        display: none;
    }
  }

  